<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('СTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(unauthorized=false, isAdmin=${isAdmin}, username=${username})"></div>


<div class="container-fluid" style="margin-top: 20px">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h1 class="text-center" th:text="'Решенные задания пользователя '+${login}"></h1>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <!--<div class="panel-heading ">Panel heading</div>-->
                <!-- Table -->
                <table class="table" id="table">
                    <thead>
                    <th>#</th>
                    <th>Название</th>
                    <th>Ссылка</th>
                    <th>Категория</th>
                    <!--<th>Дата решения</th>-->
                    <th>Дата решения</th>
                    <th>Автор</th>
                    </thead>
                    <!--/*@thymesVar id="task" type="ru.nikita.ctfzone.domain.dao.TaskResolvedDao"*/-->
                    <tbody>
                    <tr th:each="task, iter : ${tasks}" th:class="${iter.odd}? 'odd'">
                        <td th:text="${iter.index}+1"></td>
                        <td><a th:text="${task.fullName}" th:href="@{|/admin/task/${task.name}|}"></a></td>
                        <td><a th:href="${task.link}">Перейти</a></td>
                        <td th:text="${task.category}"></td>
                        <td th:text="${#dates.format(task.resolvedDate, 'dd-MM-yyyy')}"></td>
                        <td>
                            <a th:if="${task.creator != null}" th:href="@{|/admin/user/${task.creator.login}|}"
                               th:text="${task.creator.login}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>

</html>