<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('СTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(unauthorized=false, isAdmin=true, username=${username})"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-1 text-center">CTF_ZONE</h1>
        </div>
    </div>
    <div class="row" th:if="${task} == null">
        <div class="col-md-12">
            <h1 class="text-center" th:text="'Задание '+ ${searchTask} +' не найдено'"></h1>
        </div>
    </div>
</div>
<div th:if="${success}" class="col-md-6 col-md-offset-3 alert alert-success" role="alert">Изменения успешно сохранены
</div>
<!--/*@thymesVar id="task" type="ru.nikita.ctfzone.domain.dao.TaskDao"*/-->
<div class="container-fluid" style="margin-top: 20px" th:if="${task} != null">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="'Редактирование задания ' + ${searchTask}"></h1>
                    </div>
                    <div class="panel-body">
                        <form th:object="${task}" th:action="@{|/admin/task/update/${searchTask}|}" method="post">
                            <input type="hidden" th:field="*{id}">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Имя в системе</label>
                                    <input type="text" class="form-control" th:field="*{name}"
                                           aria-describedby="helpBlockLogin">
                                    <span id="helpBlockLogin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Имя для пользователей</label>
                                    <input type="text" class="form-control" th:field="*{fullName}"
                                           aria-describedby="helpBlockLogin">
                                    <span id="helpBlockLogin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Флаг (оставьте пустым для автоматической генерации)</label>
                                    <input type="text" class="form-control" th:field="*{flag}"
                                           aria-describedby="helpBlockLogin">
                                    <span id="helpBlockLogin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('flag')}" th:errors="*{flag}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Ссылка на задание (http(s):// указать обязательно)</label>
                                    <input type="text" class="form-control" th:field="*{link}"
                                           aria-describedby="helpBlockLogin">
                                    <span id="helpBlockLogin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Задание активно?</label>
                                    <input type="checkbox" class="checkbox-inline" th:field="*{active}"
                                           aria-describedby="helpBlockAdmin">
                                    <span id="helpBlockAdmin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></span>
                                </div>
                            </div>
                            <!--/*@thymesVar id="cat" type="ru.nikita.ctfzone.domain.TaskCategory"*/-->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Категория</label>
                                    <select th:field="*{category}">
                                        <option th:each="cat : ${T(ru.nikita.ctfzone.domain.TaskCategory).values()}"
                                                th:value="${cat}"
                                                th:text="${cat}"></option>
                                    </select>
                                    <span id="helpBlockAdmin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Создатель</label>
                                    <input type="text" class="form-control" th:field="*{creator}"
                                           aria-describedby="helpBlockLogin">
                                    <span id="helpBlockLogin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('creator')}" th:errors="*{creator}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-primary">Сохранить</button>
                                    <a class="btn btn-danger" role="button" data-toggle="collapse" href="#collapse"
                                       aria-expanded="false" aria-controls="collapse">Удалить</a>
                                </div>
                            </div>
                        </form>
                        <div class="collapse" id="collapse">
                            <div class="well row">
                                <form th:action="@{|/admin/task/delete/${task.name}|}" method="post">
                                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse"
                                       aria-expanded="false" aria-controls="collapse">Отмена</a>
                                    <button class="btn btn-danger" th:type="submit" aria-expanded="false"
                                            aria-controls="collapse">Удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>

</html>