<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('СTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(unauthorized=false, isAdmin=true, username=${username})"></div>

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h1 class="text-center">Управление пользователями</h1>
        </div>
        <div class="row">
            <!--<div class="col-md-10">-->
            <form class="form-group" th:action="@{/admin/users/search}" method="get">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Введите слова для поиска"
                           th:value="${search}">
                    <div class="input-group-btn">
                        <select class="form-control" style="width:auto;" id="method" name="method">
                            <option value="login" th:selected="${method} == 'login'">Поиск по логину</option>
                            <option value="learnGroup" th:selected="${method} == 'learnGroup'">Поиск по группе</option>
                            <option value="email" th:selected="${method} == 'email'">Поиск по E-mail</option>
                        </select>
                        <button type="submit" class="btn btn-default">Найти</button>
                    </div>
                </div>
            </form>
            <!--</div>-->
        </div>
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <!--<div class="panel-heading ">Panel heading</div>-->
                <!-- Table -->
                <table class="table" id="table">
                    <thead>
                    <th>#</th>
                    <th><a th:href="@{|/admin/users/search/${pageNumber}/login?search=${search}&method=${method}|}">login<span
                            th:if="${sortedBy} == 'login'" class="glyphicon glyphicon-sort-by-attributes"
                            aria-hidden="true"></span></a></th>
                    <th>ФИО</th>
                    <th>
                        <a th:href="@{|/admin/users/search/${pageNumber}/learnGroup?search=${search}&method=${method}|}">Учебная
                            группа<span th:if="${sortedBy} == 'learnGroup'"
                                        class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a>
                    </th>
                    <th>Решенные задания</th>
                    <th><a th:href="@{|/admin/users/search/${pageNumber}/email?search=${search}&method=${method}|}">E-mail<span
                            th:if="${sortedBy} == 'email'" class="glyphicon glyphicon-sort-by-attributes"
                            aria-hidden="true"></span></a></th>
                    <th>Администратор</th>
                    <th>
                        <a th:href="@{|/admin/users/search/${pageNumber}/registrationDate?search=${search}&method=${method}|}">Дата
                            регистрации<span th:if="${sortedBy} == 'registrationDate'"
                                             class="glyphicon glyphicon-sort-by-attributes"
                                             aria-hidden="true"></span></a></th>
                    </thead>
                    <!--/*@thymesVar id="user" type="ru.nikita.ctfzone.domain.User"*/-->
                    <tbody>
                    <tr th:each="user, iter : ${users}" th:class="${iter.odd}? 'odd'">
                        <td th:text="${iter.index}+1"></td>
                        <td><a th:text="${user.login}" th:href="@{|/admin/user/${user.login}|}"></a></td>
                        <td th:text="${user.lastName} + ' ' + ${user.name} + ' ' + ${user.patronymic}"></td>
                        <td th:text="${user.learnGroup}"></td>
                        <td><a th:href="@{|/admin/user/solvedTask/${user.login}|}">Просмотреть</a></td>
                        <td th:text="${user.email}"></td>
                        <td><span th:if="${user.admin}" class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        <td th:text="${#dates.format(user.registrationDate, 'dd-MM-yyyy')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <nav>
                <ul class="pager">
                    <li><a th:if="${hasPrevious} == true" th:with="previousPage=(${pageNumber}-1)"
                           th:href="@{|/admin/users/search/${previousPage}/${sortedBy}?search=${search}&method=${method}|}"><span
                            aria-hidden="true">&larr;</span>Назад</a></li>
                    <li><a th:text="${pageNumber}"></a></li>
                    <li><a th:if="${hasNext} == true" th:with="nextPage=(${pageNumber}+1)"
                           th:href="@{|/admin/users/search/${nextPage}/${sortedBy}?search=${search}&method=${method}|}">Вперед<span
                            aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>


</body>

</html>