<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('СTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(unauthorized=false, isAdmin=true, username=${username})"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-1 text-center">CTF_ZONE</h1>
        </div>
    </div>
    <div class="row" th:if="${user} == null">
        <div class="col-md-12">
            <h1 class="text-center" th:text="'Пользователь '+ ${searchUser} +' не найден'"></h1>
        </div>
    </div>
</div>
<div th:if="${success}" class="col-md-6 col-md-offset-3 alert alert-success" role="alert">Изменения успешно сохранены
</div>
<!--/*@thymesVar id="user" type="ru.nikita.ctfzone.domain.User"*/-->
<div class="container-fluid" style="margin-top: 20px" th:if="${user} != null">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="'Редактирование пользователя ' + ${searchUser}"></h1>
                    </div>
                    <div class="panel-body">
                        <form th:object="${user}" th:action="@{|/admin/user/update/${searchUser}|}" method="post">
                            <input type="hidden" th:field="*{id}">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Логин</label>
                                    <input type="text" class="form-control" th:field="*{login}"
                                           aria-describedby="helpBlockLogin">
                                    <span id="helpBlockLogin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Права администратора</label>
                                    <input type="checkbox" class="checkbox-inline" th:field="*{admin}"
                                           aria-describedby="helpBlockAdmin">
                                    <span id="helpBlockAdmin" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('admin')}" th:errors="*{admin}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Пароль</label>
                                    <input type="password" class="form-control" th:field="*{password}"
                                           aria-describedby="helpBlockPassword"
                                           placeholder="Для сохранения прежнего пароля оствьте поля пустыми">
                                    <span id="helpBlockPassword" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Повторите пароль</label>
                                    <input type="password" class="form-control" th:field="*{confirmPassword}"
                                           aria-describedby="helpBlockConfirmPassword">
                                    <span id="helpBlockConfirmPassword" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('confirmPassword')}"
                                          th:errors="*{confirmPassword}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>E-mail</label>
                                    <input type="text" class="form-control" th:field="*{email}"
                                           aria-describedby="helpBlockEmail">
                                    <span id="helpBlockEmail" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Имя</label>
                                    <input type="text" class="form-control" th:field="*{name}"
                                           aria-describedby="helpBlockName">
                                    <span id="helpBlockName" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Фамилия</label>
                                    <input type="text" class="form-control" th:field="*{lastName}"
                                           aria-describedby="helpBlockLastName">
                                    <span id="helpBlockLastName" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Отчество</label>
                                    <input type="text" class="form-control" th:field="*{patronymic}"
                                           aria-describedby="helpBlockPatronymic">
                                    <span id="helpBlockPatronymic" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Группа обучения</label>
                                    <input type="text" class="form-control" th:field="*{learnGroup}"
                                           aria-describedby="helpBlockLearnGroup">
                                    <span id="helpBlockLearnGroup" class="help-block alert-danger"
                                          th:if="${#fields.hasErrors('learnGroup')}" th:errors="*{learnGroup}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-primary">Сохранить</button>
                                    <a class="btn btn-danger" role="button" data-toggle="collapse" href="#collapse"
                                       aria-expanded="false" aria-controls="collapse">Удалить</a>
                                </div>
                            </div>
                        </form>
                        <div class="collapse" id="collapse">
                            <div class="well row">
                                <form th:action="@{|/admin/user/delete/${user.login}|}" method="post">
                                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse"
                                   aria-expanded="false" aria-controls="collapse">Отмена</a>
                                    <button class="btn btn-danger" th:type="submit" aria-expanded="false"
                                            aria-controls="collapse">Удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>

</html>