<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head (title)">
<head>
    <meta charset="utf-8">
    <title th:text="${title}">Заголовок</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
</div>