<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('СTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(unauthorized=false, isAdmin=${isAdmin}, username=${username})"></div>


<div class="container-fluid" style="margin-top: 20px">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h1 class="text-center">Доступные задания</h1>
        </div>
        <div class="row">
            <!--<div class="col-md-10">-->
            <div class="col-md-6">
                <form class="form-group" th:action="@{/tasks/search}" method="get">
                    <div class="input-group">
                        <input th:if="${method} == name" type="text" name="search" class="form-control" placeholder="Введите слова для поиска"
                               th:value="${search}">
                        <input th:if="${method} != name" type="text" name="search" class="form-control" placeholder="Введите слова для поиска">
                        <input type="hidden" name="method" value="name">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">Поиск по имени</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <form class="input-group" th:action="@{/tasks/search}" method="get">
                    <div class="input-group">
                        <input type="hidden" name="method" value="category">
                        <div class="input-group-btn">
                            <select class="form-control" style="width:auto;" id="method" name="search">
                                <!--/*@thymesVar id="category" type="ru.nikita.ctfzone.domain.TaskCategory"*/-->
                                <option th:each="category, iter : ${categories}" th:value="${category.name()}"
                                        th:selected="${selectedCategory} == ${category.name()}" th:text="${category.name()}"></option>
                            </select>
                            <button type="submit" class="btn btn-default">Поиск по категории</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--</div>-->
        </div>
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <!--<div class="panel-heading ">Panel heading</div>-->
                <!-- Table -->
                <table class="table" id="table">
                    <thead>
                    <th>#</th>
                    <th><a th:href="@{|/tasks/search/${pageNumber}/fullName?search=${search}&method=${method}|}">Название<span th:if="${sortedBy} == 'fullName'"
                                                                                  class="glyphicon glyphicon-sort-by-attributes"
                                                                                  aria-hidden="true"></span></a></th>
                    <th>Ссылка</th>
                    <th><a th:href="@{|/tasks/search/${pageNumber}/category?search=${search}&method=${method}|}">Категория<span th:if="${sortedBy} == 'category'"
                                                                                       class="glyphicon glyphicon-sort-by-attributes"
                                                                                       aria-hidden="true"></span></a>
                    </th>
                    <th><a th:href="@{|/tasks/search/${pageNumber}/creationDate?search=${search}&method=${method}|}">Дата создания<span
                            th:if="${sortedBy} == 'creationDate'" class="glyphicon glyphicon-sort-by-attributes"
                            aria-hidden="true"></span></a></th>
                    <th><a th:href="@{|/tasks/search/${pageNumber}/creator?search=${search}&method=${method}|}">Автор<span th:if="${sortedBy} == 'creator'"
                                                                                   class="glyphicon glyphicon-sort-by-attributes"
                                                                                   aria-hidden="true"></span></a></th>
                    <th>Дата решения</th>
                    </thead>
                    <!--/*@thymesVar id="task" type="ru.nikita.ctfzone.domain.dao.TaskResolvedDao"*/-->
                    <tbody>
                    <tr th:each="task, iter : ${tasks}" th:class="${iter.odd}? 'odd'">
                        <td th:text="${iter.index}+1"></td>
                        <td th:text="${task.fullName}"></td>
                        <td><a th:href="${task.link}">Перейти</a></td>
                        <td th:text="${task.category}"></td>
                        <td th:text="${#dates.format(task.creationDate, 'dd-MM-yyyy')}"></td>
                        <td>
                            <a th:if="${task.creator != null}" th:href="@{|/user/${task.creator.login}|}"
                               th:text="${task.creator.login}"></a>
                        </td>
                        <td class="text-success" th:if="${task.resolved} == true"
                            th:text="${#dates.format(task.resolvedDate, 'dd-MM-yyyy HH-mm')}"></td>
                        <td class="text" th:if="${task.resolved} == false"> Еще не решено</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <nav>
                <ul class="pager">
                    <li><a th:if="${hasPrevious} == true" th:with="previousPage=(${pageNumber}-1)"
                           th:href="@{|/tasks/search/${previousPage}/${sortedBy}?search=${search}&method=${method}|}"><span aria-hidden="true">&larr;</span>Назад</a>
                    </li>
                    <li><a th:text="${pageNumber}"></a></li>
                    <li><a th:if="${hasNext} == true" th:with="nextPage=(${pageNumber}+1)"
                           th:href="@{|/tasks/search/${nextPage}/${sortedBy}?search=${search}&method=${method}|}">Вперед<span
                            aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


</body>

</html>