<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('СTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(unauthorized=false, isAdmin=${isAdmin}, username=${username})"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Пользователь</h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <!--/*@thymesVar id="user" type="ru.nikita.ctfzone.domain.User"*/-->
            <h3 th:if="${user} == null" th:text="'Пользователь с именем ' + ${searchLogin} + ' не найден.'"></h3>
            <ul class="list-group" th:if="${user} != null">
                <li class="list-group-item" th:text="'Логин: ' + ${user.login}">login</li>
                <li class="list-group-item" th:text="'ФИО: ' + ${user.lastName} + ' ' +${user.name} + ' ' + ${user.patronymic}">ФИО</li>
                <li th:if="${user.learnGroup} != null" class="list-group-item" th:text="'Группа: ' + ${user.learnGroup}">группа</li>
                <li class="list-group-item" th:text="'E-mail: ' + ${user.email}">e-mail</li>
            </ul>
        </div>
        <div th:if="${success} == false" class="alert alert-info" role="alert">Флаг неверный</div>
        <div th:if="${success} == true" class="alert alert-success" role="alert">Флаг успешно зарегистрирован, поздравляем!</div>
    </div>
</div>
</div>


</body>

</html>