<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('CTF-Zone')"></div>

<body>
<div th:replace="fragments/navbar :: navbar(unauthorized=${unauthorized}, isAdmin=${isAdmin}, username=${username})"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Добро пожаловать на CTF_ZONE</h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="col-md-6 col-md-offset-3">
        <div th:if="${unauthorized} == false" class="row">
            <h3 class="text-center">Начните решать задания прямо сейчас!</h3>


        </div>
        <div th:if="${unauthorized} == true" class="row">
            <h3 class="text-left">На данном сервисе представлены задания для тренировки навыков тестирования на
                проникновение</h3>
            <h3 class="text-left">Для решения вам необходимо <a th:href="@{/registration}">зарегистрироваться</a>, либо
                <a th:href="@{/login}">войти</a> в систему.</h3>
        </div>
    </div>
</div>


</body>

</html>